*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.6%;
}
body {
  font-size: 1.4rem;
}

.project-card {
  padding: 4rem;
  background-color: #bada55;
  border: 10px solid red;
  margin: 0 3rem;
}

.projects-list {
  display: flex;
  margin: 2rem;
}

.hidden-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
}
.show-form {
  display: grid;
  place-items: center;
}
.new-task-form {
  width: 40%;
  height: 40%;
  background: white;
}
